@model IEnumerable<SujetoObligado.Models.SujetoObligado.PersonaSO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-resultado">
    <p>Historial</p>
</div>

<table class="table">
    <tr>
        <th>
            Cuit
        </th>
        <th>
            Tipo
        </th>
        <th>
            Mensaje
        </th>
        <th>
            Estado
        </th>
    </tr>
    @{ int rows = 0; }
    @foreach (var persona in Model)
    {
        rows = persona.Detalle.Count;
        if (rows > 0)
        {
            <tr>
                <td rowspan="@(rows + 1)">
                    @Html.DisplayFor(modelItem => persona.Cuit)
                </td>
            </tr>
            foreach (var detalle in persona.Detalle)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => detalle.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => detalle.Mensaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => detalle.Estado)
                </td>
            </tr>
            }
        }
        else { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => persona.Cuit)
                </td>
                <td colspan="3">
                    El CUIT no registra sujeto obligado ante la UIF hasta el día @persona.FechaModificacion.ToString("dd/MM/yyyy")
                </td>
            </tr>
        }




    }

</table>
